<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'favicon.png') }}">
    <title>Listar registros con Flask y Python desde MySQL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.min.css') }}">
    <style>
        h2{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
   
    
    <div class="container">

        <div class="row">
            <div class="column">
                <h2 class="text-center">
                    Listar Registros con Flask y Python 🐍 desde MySQL 💥
                </h2>
                <hr>
            </div>
          </div>
            
          <h3>Total de registros {{ dataTotal }}</h3>
        <div class="row">
            
        <!-- {{ dataAutos }} -->
        {% if (dataAutos) %}

            <table>
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th>Año</th>
                  </tr>
                </thead>
                <tbody>
                    {% for autos in dataAutos %}    
                        <tr>
                            <td>{{ id_auto }}</td>
                            <td>{{ modelo }}</td>
                            <td>{{ autos.marca }}</td>
                    
                            <td>{{ autos.precio }}</td>
                            <td>{{ autos.anio }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        {% else %}
            <p style="text-align: center;">No hay Autos 😭 </p>
        {% endif %}

        </div>
    </div>

</body>
</html>